<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">MHUProjectt <i>This a endterm project  </i> is an website  designed for football fans it is for fans of the Premier League In this site we can view the table at the moment of the Premier league and also the list of scorers and so on</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Similar to our site</h6>
          <ul class="footer-links">
            <li><a href="https://www.premierleague.com">Offical the Premier League website</a></li>
            <li><a href="https://www.eurosport.com">Eurosport</a></li>
            <li><a href="https://www.sports.kz">Sport.kz</a></li>
            <li><a href="https://www.sports.ru">Sport.ru</a></li>
            <li><a href="https://www.championat.com">Championat</a></li>

          </ul>
        </div>


        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
