<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a href='/apl'>Home</a></li>
      <li> <a href='/Clubs'>Clubs</a></li>
        <li> <a href='/Standing'>Epl </a></li>
          <li> <a href='/Scorers'>EplScorers</a></li>
            <li> <a href='/StandingLaLiga'>LaLiga</a></li>
              <li> <a href='/ScorersLaLiga'>ScorersLaLiga</a></li>
                <li>  <a href='/StandingLigue1'>Ligue1</a></li>
                  <li><a href='/ScorersLigue1'>ScorersLigue1</a></li>
                    <li><a href='/StandingSeriaA'>SeriaA</a></li>
                      <li> <a href='/ScorersSeriaA'>ScorersSeriaA</a></li>
                        <li><a href='/StandingBundesLiga'>BundesLiga</a></li>
                          <li> <a href='/ScorersBundesliga'>ScorersBundesliga</a></li>
                            <li> <a href='/Contact-Form'>Contact Us</a></li>
  
  </ul>
</nav>
<div class="hero">

</div>

