

<div class = "container">

    <table class = "table table-bordered">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Games</th>
                <th>Points</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let dt of SeriaData">
                <td>{{dt.position}}</td>
                <td>{{dt.name}}</td>
                <td>{{dt.games}}</td>
                <td>{{dt.points}}</td>
            </tr>
        </tbody>
    </table>
</div>