

<div class = "container">

    <table class = "table table-bordered">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Team</th>
                <th>Goals</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let dt of  ScorersBundesData">
                <td>{{dt.position}}</td>
                <td>{{dt.name}}</td>
                <td>{{dt.team}}</td>
                <td>{{dt.goals}}</td>
            </tr>
        </tbody>
    </table>
</div>