

<div class = "container">

    <table class = "table table-bordered">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Team</th>
                <th>Goals</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let st of ScorersLigue1Data">
                <td>{{st.position}}</td>
                <td>{{st.name}}</td>
                <td>{{st.team}}</td>
                <td>{{st.goals}}</td>
            </tr>
        </tbody>
    </table>
</div>